@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.main {
    background-color: #fff;
}

.table-container {
    max-height: 450px;
    max-width: 1300px;
    overflow: auto;
    text-align: center;
    position: relative; /* Ensure positioning for the sticky header */
}

.table-container thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure header stays above content */
}

.table-content td {
    word-wrap: break-word;
}

.button-add a {
    text-decoration: none;
}

.modal-dialog{
    position: fixed;
    left: 35%;
    right: 35%;
}

@media (max-width: 768px) {
    .modal.fade.show {
        display: block !important;
    }
    .modal-dialog {
        max-width: none !important;
        width: 90% !important;
        left: 48% !important;
        right: auto !important;
        transform: translateX(-50%) !important;
    }
}