@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.featured-image {
    width: 250px;
}

.box-area{
    width: 930px;
}

.input-group {
    border: none;
}

.input-group-text {
    border-right: none;
}
.form-control {
    border-left: none;
    padding-left: 0px;
}

.form-check-input{
    border: 2px solid gray;
}

.form-check-input:checked{
    background-color: gray;
    border: solid gray;
}

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
    .box-area {
        flex-direction: column;
    }
    .left-box,
    .right-box {
        width: 100%;
    }
    .right-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
