@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
html{
    font-size: 100%;
}
body {
font-family: "Poppins", sans-serif;
margin: 0;
padding: 0;
background: white;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 15px 20px; 
    background: #111;
    z-index: 2; 
}

.sidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidebar a {
padding: 10px 15px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.3s;
text-align: center;
}

.sidebar a:hover {
color: #f1f1f1;
}

.sidebar .closebtn {
position: absolute;
top: 20px;
left: 25px;
font-size: 36px;
margin-right: 50px;
text-align: center;
} 

.openbtn {
font-size: 30px;
cursor: pointer;
background-color: transparent;
color: white;
border: none;
position: fixed;
top: 10px;
right: 20px;
border-radius: 50%;
font-weight: bold;
}

.icon:hover {
    transform: scale(1.1);
}


.custom-sidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
text-align: center;
}

.custom-sidebar-link {
padding: 10px 15px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.3s;
}

.custom-sidebar-link:hover {
color: #f1f1f1;
}

.custom-sidebar-closebtn {
position: absolute;
top: 20px;
right: 25px;
font-size: 36px;
margin-left: 50px;
text-decoration: none; 
color: #818181;
}

.custom-sidebar-closebtn:hover {
color: #f1f1f1; 
}


.custom-openbtn {
font-size: 30px;
cursor: pointer;
background-color: transparent;
color: white;
border: none;
top: 10px;
position: fixed; 
left: 15px;
z-index: 2;
}

.icon{
    font-size: 20px;
    transition: all 0.3s ease;
}


.logo{
    position: absolute; 
    z-index: 0; 
    top: 15px; 
    left: 55px;
}

.logo img{
    width: 150px; 
    height: auto;
}


.search-box {
    position: absolute; 
    top: 20px; 
    right: 40px; 
    width: 900px; 
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: black;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: calc(100% - 40px); 
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 60%;
}

@media screen and (max-width: 1291px) {
    .search-box {
        right: 20px; 
        width: calc(100% - 300px); 
    }
}


@media screen and (max-width: 768px) {
    .logo img{
      display: none;
    }
  
    .search-box{
      right: 20px; 
      width: calc(100% - 100px); 
    }

}

@media screen and (max-width: 460px) {
    .search-box input{
        padding: 0 15px 0 38px;
    }
}